services:
  # O nome deste serviço é 'airflow'. O n8n vai usar este nome para conectar.
  airflow:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - AIRFLOW__CORE__FERNET_KEY=Uqv6pwYWJn7xifR3QAkifMTkupos8mkxaQL2Q7Ydsqw=
      - AIRFLOW__CORE__LOAD_EXAMPLES=false
      # AJUSTE AQUI: Define a URL interna correta para links e redirects
      - AIRFLOW__WEBSERVER__BASE_URL=http://airflow:8080
      - AIRFLOW__API__AUTH_BACKEND=airflow.api.auth.backend.basic_auth
      # Credenciais
      - _AIRFLOW_WWW_USER_CREATE=true
      - _AIRFLOW_WWW_USER_USERNAME=admin
      - _AIRFLOW_WWW_USER_PASSWORD=admin 
      # Variáveis do ro-DOU
      - RO_DOU__DAG_CONF_DIR=/opt/airflow/dags/ro_dou/dag_confs
      - AIRFLOW_VAR_PATH_TMP=/tmp
      - AIRFLOW_VAR_EMAIL_ADMIN=admin@rodou.gov.br
      - AIRFLOW_CONN_INLABS_DB=postgres://airflow:airflow@postgres:5432/airflow?schema=inlabs
    volumes:
      - airflow_logs:/opt/airflow/logs
    depends_on:
      postgres:
        condition: service_healthy
    # Mantemos a porta exposta para você conseguir debugar se precisar (acessando IP-DA-VPS:8080)
    # Se quiser bloquear totalmente externo, remova estas linhas de ports.
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 30s
      retries: 3

  postgres:
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./dag_load_inlabs/sql/:/docker-entrypoint-initdb.d/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 10s
      retries: 5

  smtp4dev:
    image: rnwood/smtp4dev:v3
    restart: always
    ports:
      - "5001:80"

volumes:
  postgres_data:
  airflow_logs: